*{
    margin: 10px;
    padding:0px;
     font-family: Arial, Helvetica, sans-serif;
}
.heading{
    font-size: 30px;
   font-weight:900;
}
.cart-button{
    border: 1px solid rgb(0, 0, 0);
    border-radius:30px;
    display: flex;
    background-color:rgb(255, 255, 255);
    position: absolute;
    left: 60px;
    top: 200px
}
.cart-image{
    margin-right:auto ;
   
}
.cart-button:hover{
background-color: rgb(240, 12, 12);
}
.iteam-name{
   color: rgb(148, 148, 148);
}
.iteam-fullname {
    font-weight: bolder;
}
.iteam-price{
    color: rgb(240, 12, 12);
    font-weight: bold;
}

